#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.desc-p {
  max-width: 600px;
  text-align: center;
  padding: 2rem;
  margin-left: 253px;
}

.student-name {
  color: blue;
}

.name-and-button {
  display: flex !important;
  justify-content: row !important;
  justify-content: center !important;
  gap: 50px;
  margin-top: 15px;
  margin-bottom: 30px;
}